<div class="row">
  <div class="span6 offset3">
    <%= form_for(@country) do |f| %>

        <%= f.label :name %>
        <%= f.text_field :name %>

        <%= f.submit "Create new country", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>