<% provide(:title, @city.name) %>
<h1><%= @city.name %></h1>

<div class="row">
  <div class="col-md-12">
    <div class="col-md-4">
      <button class="btn btn-default">
        <%= link_to "Back to all cities", cities_path %>
      </button>
    </div>
    <div class="col-md-4">
      <button class="btn btn-default">
        <%= link_to "Edit", edit_city_path %>
      </button>
    </div>
    <div class="col-md-4">
      <button class="btn btn-default">
        <%= link_to "Delete", city_path, method: :delete %>
      </button>
    </div>
  </div>
</div>